```css
body{
    font-family:'Poppins',sans-serif;
    background:#0F172A;
    overflow-x:hidden;
    color:#FFF8E7;
}

.envelope-section{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(
        180deg,
        #2563EB,
        #134E4A
    );
}

.envelope-container h1{
    margin-top:20px;
    font-family:'Great Vibes',cursive;
    font-size:55px;
    color:#14B8A6;
}

.groom-section{
    background:#134E4A;
}

.bride-section{
    background:#0F766E;
}

.intro-content h2{
    font-family:'Great Vibes',cursive;
    font-size:70px;
    color:#14B8A6;
}

.couple-section{
    background:#166534;
    text-align:center;
}

.couple-content h1{
    margin-top:25px;
    font-size:40px;
    color:#14B8A6;
}

.invitation-section{
    background:#134E4A;
}

.invitation-card{
    max-width:450px;
    margin:auto;
    background:#2563EB;
    border-radius:30px;
    padding:40px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.card-heading{
    text-transform:uppercase;
    letter-spacing:3px;
    color:#14B8A6;
}

.invitation-card h1{
    margin-top:20px;
    font-family:'Great Vibes',cursive;
    font-size:75px;
    color:#FFF8E7;
}

.verse-ref{
    color:#14B8A6;
    margin-top:10px;
}

.scratch-section{
    background:#166534;
    text-align:center;
}

.hidden-date{
    position:absolute;
    width:100%;
    height:100%;
    background:#0F766E;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:bold;
}

.countdown-section{
    text-align:center;
    background:#134E4A;
}

.time-box{
    width:90px;
    background:#2563EB;
    padding:20px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.venue-section{
    background:#0F766E;
}

.venue-card h1{
    font-family:'Great Vibes',cursive;
    font-size:55px;
    color:#14B8A6;
}

.location-btn{
    margin-top:25px;
    border:none;
    background:#2563EB;
    color:white;
    padding:15px 25px;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
}

footer{
    padding:40px;
    text-align:center;
    background:#0F172A;
}
```
