/* ===================================== */
/* NEW WEDDING COLOR THEME */
/* Dark Teal + Sea Green + Cream */
/* ===================================== */

body{
    background:#FDF6EC;
    color:#0F4C5C;
}

.envelope-section{
    background:linear-gradient(
        180deg,
        #0F4C5C,
        #4E9F8A,
        #FDF6EC
    );
}

.envelope-container h1{
    color:#FDF6EC;
}

.envelope-container p{
    color:#ffffff;
}

.groom-section{
    background:#FDF6EC;
}

.bride-section{
    background:#EAF7F3;
}

.intro-content h2{
    color:#0F4C5C;
}

.couple-section{
    background:#FFF9F2;
}

.couple-content h1{
    color:#0F4C5C;
}

.invitation-section{
    background:#EAF7F3;
}

.invitation-card{
    background:#FDF6EC;
}

.card-heading{
    color:#4E9F8A;
}

.invitation-card h1{
    color:#0F4C5C;
}

.verse-ref{
    color:#4E9F8A;
}

.scratch-section{
    background:#FFF9F2;
}

.hidden-date{
    background:#4E9F8A;
    color:white;
}

.countdown-section{
    background:#EAF7F3;
}

.time-box{
    background:#FDF6EC;
    border:2px solid #4E9F8A;
}

.venue-section{
    background:#FFF9F2;
}

.venue-card h1{
    color:#0F4C5C;
}

.location-btn{
    background:#0F4C5C;
    color:white;
}

.location-btn:hover{
    background:#4E9F8A;
}

footer{
    background:#0F4C5C;
    color:white;
}

footer h2{
    color:#FDF6EC;
}